<div class="container">
  <h1>{{ title }}</h1>
  <input [(ngModel)]="userQuery" (keydown.enter)="ask()" placeholder="Ask about trades.." style="width:70%;">
  <button (click)="ask()">Ask</button>
  <div *ngIf="loading" class="loading">Loading...</div>
  <div *ngIf="error" class="error" style="color: red;">{{ error }}</div>
  <div *ngIf="result">
    <ng-container *ngIf="result.columns && result.rows; else plain">
      <table border="1" cellpadding="4">
        <tr>
          <th *ngFor="let col of result.columns">{{ col }}</th>
        </tr>
        <tr *ngFor="let row of result.rows">
          <td *ngFor="let cell of row">{{ cell }}</td>
        </tr>
      </table>
    </ng-container>
    <ng-template #plain>
      <pre>{{ result | json }}</pre>
    </ng-template>
  </div>
</div>